*{
	padding: 0;
	margin: 0;
	font-size: 12px;
	color: #999999;
}
*html{
	background-image:url(about:blank);
	background-attachment:fixed;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
a:hover{
	color:#ff0036;
}
/*广告区域2*/
#content .adver img{
	width: 1230px;
	height: 90px;
}
/*广告区域2结束*/



/*顶部*/
#top{
	width: auto;
    height: 32px;
    line-height: 32px;
    background-color: #f2f2f2;
    /*position: relative!important;*/
    #mainnav .daohangindex: 1;
    /*-webkit-transform: translate3d(0,0,0);*/
    border-bottom: 1px solid #e5e5e5;
    min-width: 990px;
    position: relative;
    z-index: 50;
}
#top .top_left ul li{
	float: left;
	margin: 0 10px;
	display: inline;
}

#top .top_right{
	margin-right: 40px;
}
#top .top_right ul li{
	float: right;
	padding: 0 10px;
	position: relative;
}
#top .top_right ul li.ex_li{
	margin-right: 3px;
	position: relative;
}
#top .top_right ul li.li_span{
	line-height: 17px;
	padding: 6px;
}
#top .top_right ul li.li_span span{
	color: #CCCCCC;
}
#top .top_right ul li a{
	line-height: 32px;
}
#top .top_right ul li a span{
	font-weight: 700;
	padding: 2px;
}
#top .top_right ul li a:hover span{
	color: #ff0036;
}
#top .top_right ul li img.pic_before {
	display: inline-block;
	margin-top: 8px;
	margin-right: 2px;
}
#top .top_right ul li img.pic_last {
	display: block;
	position: absolute;
	top: 15px;
	right: 2px;
}
#top .top_right ul li.ex_li .hide_box{
	width: 96px;
	height: auto;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	border-top: none;
	position: absolute;
	top: 32px;
	left: -1px;
	z-index: 2;
	display: none;
}
#top .top_right ul li.ex_li .hide_box ul{
	margin: 8px auto;
}
#top .top_right ul li.ex_li .hide_box ul li{
	float: left;
	/*border: 1px solid red;*/
	margin: -5px auto;
	/*padding: 0;*/
	/*line-height: 2px;*/
}
/*商家支持*/
#top .top_right ul li.ex_li .hide_box_support{
	width: 144px;
	height: auto;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	border-top: none;
	position: absolute;
	top: 32px;
	left: -77px;
	z-index: 2;
	display: none;
}
#top .top_right ul li.ex_li .hide_box_support p{
	margin-left: 10px;
	font-weight: 700;
}
#top .top_right ul li.ex_li .hide_box_support ul li{
	float: left;
	display: inline;
	margin: -5px 2px;
}

/*网站导航*/
#top .top_right ul li.ex_li .hide_box_webnav{
	width: 1200px;
	height: auto;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	border-top: none;
	position: absolute;
	top: 32px;
	left: -1117px;
	z-index: 2;
	display: none;
}
#top .top_right ul li.ex_li .hide_box_webnav .sec1{
	width: 288px;
	height: 200px;
	/*background-color: yellow;*/
	display: inline;
	margin:25px 15px;
	padding: 0px auto;
	border-right: 1px solid #e2e2e2 ;
	float: left;
	overflow: hidden;
}
#top .top_right ul li.ex_li .hide_box_webnav .sec2{
	width: 345px;
	height: 200px;
	/*background-color: yellow;*/
	margin:27px 10px;
	display: inline;
	padding: 0px auto;
	border-right: 1px solid #e2e2e2 ;
	float: left;
	overflow: hidden;
}
#top .top_right ul li.ex_li .hide_box_webnav .sec3{
	width: 280px;
	height: 200px;
	/*background-color: yellow;*/
	margin:27px auto;
	display: inline;
	padding: 0px auto;
	border-right: 1px solid #e2e2e2 ;
	float: left;
	overflow: hidden;
}
#top .top_right ul li.ex_li .hide_box_webnav .sec4{
	width: 125px;
	height: 200px;
	/*background-color: yellow;*/
	margin:27px auto;
	display: inline;
	padding: 0px 28px;
	float: left;
	overflow: hidden;
}
#top .top_right ul li.ex_li .hide_box_webnav p{
	font-size: 16px;
	margin-left: 19px;
	display: inline;
	font-weight: 500;
}
#top .top_right ul li.ex_li .hide_box_webnav ul{
	margin: 0;
}
#top .top_right ul li.ex_li .hide_box_webnav ul li{
	width: auto;
	float: left;
	margin: -2px 16px;
	display: inline;
}
/*顶部结束*/


/*搜索部分*/
#search{
	width: 100%;
	height: 117px;
	min-width: 990px;
	position: relative;
	z-index: 10;
}
#search img{
	position: absolute;
	top: 32px;
	left: 22px;
	z-index: 100;
}
#search input{
	position: absolute;
	top: 40px;
	left: 330px;
	width: 491px;
	height: 36px;
	border: 2px solid #ff0036;
	font-size: 16px;
	padding-left: 8px;
}
#search input:focus{
	outline: none;
}
#search button{
	position: absolute;
	top: 40px;
	left: 825px;
	display: block;
	width: 132px;
	height: 40px;
	border: 2px solid #ff0036;
	background-color: #FF0036;
	font-weight: 700;
	font-size: 18px;
	color: #ffffff;
}
#search ul{
	position: absolute;
	top: 88px;
	left: 330px;
}
#search ul li{
	float: left;
}
#search ul li a{
	font-size: 14px;
}
#search ul li a:hover{
	color: #999999;
}
#search ul li a.red_font{
	color: #ff0036;
}
#search span{
	margin: 11px;
}
/*搜索部分结束*/

/*主要商品导航*/
#main_nav{
	width: 100%;
	height: 51px;
	background-color: #ffffff;
	overflow: hidden;
	min-width: 990px;
	position: relative;
	z-index: 5;
}
#main_nav .daohang{
	width: 100%;
	height: 36px;
	margin-top: 15px;
	background-color: #ff0036;
}
#main_nav .daohang .nav_left{
	width: 200px;
	height: 36px;
	margin-left: 12px;
	display: inline;
	background-color: #E22127;
	float: left;
	position: relative;
}
#main_nav .daohang .nav_left img{
	position: absolute;
	top: 10px;
	left: 14px;
}
#main_nav .daohang .nav_left span{
	position: absolute;
	top: 8px;
	left: 42px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
}
#main_nav .daohang .nav_right{
	position: absolute;
	top: 15px;
	left: 210px;
}
#main_nav .daohang .nav_right ul{
	white-space: nowrap;
}
#main_nav .daohang .nav_right ul li{
	width: auto;
	float: left;
	margin-left: 30px;
	display: inline;
	position: relative;
	z-index: 5;
}
#main_nav .daohang .nav_right ul li a{
    display: block;
    width: auto;
    height: 36px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    float: left;
}
#main_nav .daohang .nav_right ul li a img{
	width: auto;
	height: 17px;
	padding: 9px 0;
	border: none;
	background-color: #FF0036;
}
/*图片上方的小动态图标*/
#main_nav .daohang .nav_right ul li img.lit_tm_pic{
	display: block;
	width: 40px;
	height: 15px;
	position: absolute;
	top: 0px;
	left: 30px;
	z-index: -1;
}
/*四个字li上方的小动态图标*/
#main_nav .daohang .nav_right ul li img.lit_tm_four{
	display: block;
	width: 40px;
	height: 15px;
	position: absolute;
	top: 0px;
	left: 12px;
	z-index: -1;
}
/*三个字li上方的小动态图标*/
#main_nav .daohang .nav_right ul li img.lit_tm_three{
	display: block;
	width: 40px;
	height: 15px;
	position: absolute;
	top: 0px;
	left: 4px;
	z-index: -1;
}
/*主要商品导航结束*/

/*商品种类*/
#nav_lun{
	width: 100%;
	height: 500px;
	position: relative;
}
#nav_lun .shoptype{
    width: 200px;
    height: 500px;
    background-color: #EDEDED;
    opacity: 0.7;
	filter:alpha(opacity=70);
    position: absolute;
    top: 0;
    left: 12px;
    z-index: 2;
}
#nav_lun .shoptype ul li{
	float: left;
	display: block;
	width: 200px;
	height: 31.25px;
	position: relative;
}
#nav_lun .shoptype ul li img{
	position: absolute;
	top: 9px;
	left: 14px;
}
#nav_lun .shoptype ul li .shop_sec{
	width: auto;
	height: 31.25px;
	position: absolute;
	top: 0px;
	left: 45px;
}
#nav_lun .shoptype ul li .shop_sec a{
	line-height: 31.25px;
	color: #4C4C4C;
	font-size: 14px;
	font-weight: 700;
}
#nav_lun .shoptype ul li .shop_sec span{
	line-height: 31.25px;
	color: #4C4C4C;
	font-weight: 700;
}

#nav_lun .shoptype ul li .sec_hide_box{
	width: 852px;
	height: 500px;
	position: absolute;
	top: 0;
	left: 200px;
	background-color: #fafafa;
	/*background-color: greenyellow;*/
	display: none;
}
#nav_lun .shoptype ul li .sec_hide_box .part{
	width: 670px;
	height: auto;
	background-color: #ffffff;
	display: inline-block;
}
#nav_lun .shoptype ul li .sec_hide_box .part .part_left{
	width: 80px;
    margin: 15px 30px;
    float: left;
    display: inline;
    /*border: 1px solid red;*/
}
#nav_lun .shoptype ul li .sec_hide_box .part .part_right{
	float: left;
	display: inline;
	width: 520px;
	height: auto;
	margin-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px dotted #999999;
	/*border: 1px solid red;*/
}	
#nav_lun .shoptype ul li .sec_hide_box .part .part_left p{
	width: 80px;
    height: auto;
    line-height: 22px;
    color: #333;
    font-size: 14px;
    font-weight: 700; 
    float: left;
}
#nav_lun .shoptype ul li .sec_hide_box .part .part_right ul li{
	float: left;
	width: auto;
	height: 18px;
    margin-left: 13px;
    display: inline;
    background-color: #ffffff;
}
#nav_lun .shoptype ul li .sec_hide_box .part .part_right ul li a{
	height: 18px;
	font-size: 14px;
    color: #666; 
    line-height: 22px;
}
/*商品种类结束*/



/*轮播图*/
#nav_lun .lunbotu img{
	z-index: 1;
	float: left;
	position: absolute;
	top: 0px;
	left: 50px;
}
#nav_lun .lunbotu ul{
	position: absolute;
	top: 445px;
	left: 540px;
	z-index: 2;
}
#nav_lun .lunbotu ul li{
	font-size: 14px;
	font-weight: 700;
	color: #a10000;
	float: left;
	display：inline;
	margin: 0 4px;
	padding: 5px 8px;
	border: 1px solid white;
	border-radius: 50%;
	background: white;
	opacity: 0.5;
	filter:alpha(opacity=50);
	font-family: SimSun;
}
#nav_lun .lunbotu ul li.cur{
	background: #a10000;
	color: white;
}
/*轮播图结束*/


#content{
	width: 100%;
	height: auto;
	padding: 60px 30px 0px 21px;  
	/*上右下左*/
	background-color: #F5F5F5;
	min-width: 990px;
}

#content #live_trademark{
	width: 1230px;
	height: 436px;
	clear: both;
	/*border: 3px solid orange;*/
}
/*直播栏*/
#content #live_trademark .live_show{
	width: 488px;
	height: 436px;
	background-color: black;
	/*border: 3px solid green;*/
	float: left;
}	
#content #live_trademark .live_show .bigger{
	width: 488px;
	height: 275px;
	background-color: orange;
	position: relative;
}
#content #live_trademark .live_show .bigger img.bbgpic{
	width: 488px;
	float: left;
	position: absolute;
	top: 0;
	left: 0;
}
#content #live_trademark .live_show .bigger img.live_bigpic{
	width: 70px;
	height: 58px;
	position: absolute;
	top: 103px;
	left: 216px;
}
#content #live_trademark .live_show .bigger p{
	position: absolute;
	top: 205px;
	width: 100%;
	text-align: center;
	color: #ffffff;
	font-size: 24px;
    line-height: 33px;
    overflow: hidden;
}
#content #live_trademark .live_show .bigger span.living{
	position: absolute;
    top: 15px;
    right: 16px;
    display: inline-block;
    height: 20px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.6);
    line-height: 19px;
    padding: 2px 4px;
    font-size: 12px;
    color: #fff;
}
#content #live_trademark .live_show .bigger span.clock{	
	position: absolute;
    text-align: center;
    bottom: 17px;
    line-height: 17px;
    font-size: 16px;
    width: 100%;
    color: #fff;
}
#content #live_trademark .live_show .bigger span.clock img.pic{
	display: inline-block;
    width: 13px;
    height: 13px;
    /*border: 1px solid blue;*/
}
#content #live_trademark .live_show .smaller{
	width: 490px;
	height: 90px;
	margin-top: 9px;
	/*background-color: red;*/
	position: relative;
	overflow: hidden;
}
#content #live_trademark .live_show .smaller .smaller_box{
	width: 978px;
	height: 90px;
	margin-top: 9px;
	/*background-color: red;*/
	position: relative;
}
#content #live_trademark .live_show .smaller a.btn_left img{
	position: absolute;
	top: 0;
	left: 0;
	border: none;
/*	border: 1px solid green;*/
	z-index: 200;
}
#content #live_trademark .live_show .smaller a.btn_right img{
	position: absolute;
	top: 0;
	left: 470px;
	border: none;
	/*border: 1px solid green;*/
	z-index: 200;
}
#content #live_trademark .live_show .smaller .smaller_box ul li{
	width: 160px;
	height: 90px;
	float: left;
	position: relative;
	margin-right: 3px;
}
#content #live_trademark .live_show .smaller .smaller_box ul li img.sbgpic{
    width: 160px;
    height: 90px;
    z-index: 10;
}
#content #live_trademark .live_show .smaller .smaller_box ul li img.live_smallpic{
    position: absolute;
    width: 36px;
    height: 30px;
    top: 25px;
    left: 60px;
    /*border: 1px solid blue;*/
    z-index: 200;
    display: none;
}
#content #live_trademark .live_show .smaller .smaller_box ul li p{
    width: 100%;
    height: 17px;
	position: absolute;
    top: 65px;
    /*border: 1px solid blue;*/
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #fff;
    overflow: hidden; 
    z-index: 20;
}
#content #live_trademark .live_show .smaller .smaller_box ul li .small_cover{
	width: 160px;
	height: 90px;
	background-color: #333;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	opacity: 0.5;
	_filter: alpha(opacity=50); 
	display: none;
}
#content #live_trademark .live_show .forecast{
	width: 100%;
	height: 65px;
	position: relative;
}
#content #live_trademark .live_show .forecast .fore_left{
	position: absolute;
	top: 15px;
	left: 20px;
	float: left;
}
#content #live_trademark .live_show .forecast .fore_right{
	width: 300px;
	height: 160px;
	position: absolute;
	top: 16px;
	left: 120px;	
	float: left;	
	overflow: hidden;

}
#content #live_trademark .live_show .forecast .fore_right p{	
    /*color: #ffffff;*/
    width: 100%;
    float: left;
}
#content #live_trademark .live_show .forecast .fore_right p.color{	
    color: #FD4889;
    width: 100%;
}
/*直播栏结束*/



/*商标栏*/
#content #live_trademark .trademark{
	width: 488px;
	height: 436px;
	margin-left: 11px;
/*	border: 1px solid red;*/
	float: left;
}
#content #live_trademark .trademark table, tr, td{
	border-collapse:collapse;
	background-color: white;
	border-right: 1px solid #f5f5f5 ;
	border-bottom: 1px solid #f5f5f5 ;
}
#content #live_trademark .trademark table{
	width:118px;
}

#content #live_trademark .trademark tr{
	height:108px;
}
#content #live_trademark .trademark tr td img{
	width: 118px;
	height: 90px;
	padding: 7px 0;
}
#content #live_trademark .trademark tr td{
	position: relative;
	z-index: 1;
}
#content #live_trademark .trademark tr td .hover_box{
	width: 121px;
	height: 108px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	/*border: 1px solid red;*/
    background-color: #333;
    display: none;
}
#content #live_trademark .trademark tr td .hover_box img{
	width: 15px;
	height: 13px;
	position: absolute;
	top: 3px;
	right: 6px;
}
#content #live_trademark .trademark tr td .hover_box p{
	width: 100%;
	height: 20px;
	position: absolute;
	top: 35px;
	left: 0;
	text-align: center;
	color: #FFFFFF;
}
#content #live_trademark .trademark tr td .hover_box a{
    display: inline-block;
    width: 63px;
    height: 18px;
    position: absolute;
    top: 60px;
    left: 29px;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    background-color: red;
    border-radius: 9px;
    text-align: center;
}
/*商标栏结束*/










/*一些商品展示*/
#content #something_show{
	width: 100%;
	min-width: 990px;
	height: 477px;
	margin-top: 30px;
	margin-bottom: 20px;
	/*border: 1px solid orange;*/
}
#content #something_show .sth_sec{
	width: 238px;
	height: auto;
	/*border: 1px solid orange;*/
	background-color: #fff;
	float: left;
	/*display: inline;*/
	margin-right: 10px;
}
#content #something_show .sth_sec .top_show{
	width: 238px;
	height: 36px;
	background-color: #ff0036;
	position: relative;
}
#content #something_show .sth_sec .top_show img{
	position: absolute;
	top: 10px;
	left: 68px;
}
#content #something_show .sth_sec .top_show span{
	position: absolute;
	top: 0;
	left: 100px;
	font-weight: 700;
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    color: #fff;
	height: 36px;
    line-height: 36px;
    vertical-align: top;
}
#content #something_show .sth_sec .channel_1{
	width: 200px;
	height: 220px;
	margin: 0 auto;
	/*background-color: yellow;*/
	border-bottom: 2px solid #eee;
	position: relative;
}
#content #something_show .sth_sec .channel_1 p.title_main{
    width: 100%;
    text-align: center;
    color: #000;
    font-weight: 700;
    font-size: 22px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    margin-top: 19px;
}
#content #something_show .sth_sec .channel_1 p.title_sub{
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 5px;
    color: #888;
    font-size: 14px;
    height: 14px;
    line-height: 14px;
}
#content #something_show .sth_sec .channel_1 .grey_bg{
    width: 120px;
    height: 120px;
    position: absolute;
    top: 80px;
    left: 40px;
    background-color: #000;
	opacity: 0.03;
	filter:alpha(opacity=3);
    border-radius: 70px;
}
#content #something_show .sth_sec .channel_1 img{
	width: 140px;
    height: 140px;
    position: absolute;
    top: 70px;
    left: 30px;
}
#content #something_show .sth_sec .channel_2{
	width: 200px;
	height: 220px;
	margin: 0 auto;
	/*background-color: yellow;*/
	/*border-bottom: 2px solid #eee;*/
	position: relative;
}
#content #something_show .sth_sec .channel_2 p.title_main{
    width: 100%;
    text-align: center;
    color: #000;
    font-weight: 700;
    font-size: 22px;
    height: 24px;
    line-height: 24px;
    margin-top: 19px;
    display: inline-block;
}
#content #something_show .sth_sec .channel_2 p.title_sub{
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 5px;
    color: #888;
    font-size: 14px;
    height: 14px;
    line-height: 14px;
}
#content #something_show .sth_sec .channel_2 .grey_bg{
    width: 120px;
    height: 120px;
    position: absolute;
    top: 80px;
    left: 40px;
    background-color: #000;
	opacity: 0.03;
	filter:alpha(opacity=3);
    border-radius: 70px;
}
#content #something_show .sth_sec .channel_2 img{
	width: 140px;
    height: 140px;
    position: absolute;
    top: 70px;
    left: 30px;
}
/*一些商品展示结束*/

]
/*广告区域*/
#content #adver img{
	width: 1230px;
	height: auto;
}

/*广告区域结束*/



/*潮电酷玩*/




#content #fashion_play{
	width: 100%;
	height: 470px;
	margin-top: 30px;
	margin-bottom: 30px;
}
#content #fashion_play p{
	height: 20px;
	border-left: 5px solid #0aa6e8;
	padding-left: 10px;
	font-size: 18px;
	line-height: 18px;
/*	background-color: greenyellow;
*/}

#content #fashion_play p span{
	padding-left: 10px;
	font-size: 14px;
}
#content #fashion_play ul li{
	float: right;
	list-style: none;
	margin-right: 23px;
}
#content #fashion_play ul li.li_rightest{
	margin-right: 60px;
}
#content #fashion_play table{
	width: 1230px;
	overflow: hidden;
	cursor: pointer;
}
#content #fashion_play table tr{
	height: 220px;
}
#content #fashion_play table tr td{
	border: 1px solid #999999;
	border-collapse:collapse;
	position:relative;
}
#content #fashion_play table tr td img{
	display: inline-block;
	width:150px;
	height: 150px;
	position: absolute;
	top: 60px;
	right: 5px;
}
#content #fashion_play table tr td.rowspan_2 img{
	width: 239px;
	height: 330px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
#content #fashion_play table tr td.rowspan_2 a{
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	color: #000;
	position: absolute;
	left: 0;
	top: 300px;
	opacity: 0.7;
	filter:alpha(opacity=70);
	z-index: 5;
}
#content #fashion_play table tr td.rowspan_2 .p_span{
	width: 226px;
	height: 110px;
	background-color: #0aa6e8;
	position: absolute;
	top: 330px;
	left: 0;
}
#content #fashion_play table tr td.rowspan_2 .p_span p{
	width: 100%;
	height: 110px;
	line-height: 60px;
	display: inline-block;
	background-color: #0aa6e8;
	text-align: center;
	font-weight: 700;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
}
#content #fashion_play table tr td.rowspan_2 .p_span span{
	width: 100%;
	height: 30px;
	display: inline-block;
	text-align: center;
	color: #fff;
	font-size: 12px;
	position: absolute;
	top: 50px;
	left: 15px;
}
#content #fashion_play table tr td.colspan_2 img{
	width:190px;
	height: 190px;
	position: absolute;
	right: 0;
	top:28px;
}
#content #fashion_play table tr td.colspan_2 p{
	position: absolute;
	left: 35px;
	top: 47px;
	font-size: 24px;
	line-height: 24px;
	border: none;
}
#content #fashion_play table tr td.colspan_2 span.span_mid{
	position: absolute;
	left: 45px;
	top: 79px;
	font-size: 18px;
	line-height: 18px;
}
#content #fashion_play table tr td.colspan_2 span.span_bot{
	position: absolute;
	left: 45px;
    top: 105px;
    font-size: 16px;
    line-height: 18px;
    color: #0AA6E8;
}
#content #fashion_play table tr td span.span_mid{
	position: absolute;
	left: 25px;
	top: 25px;
	font-size: 18px;
	line-height: 18px;
}
#content #fashion_play table tr td span.span_bot{
	position: absolute;
	left: 25px;
    top: 54px;
    font-size: 14px;
    line-height: 18px;
    color: #0AA6E8;
}


/*潮电酷玩结束*/




/*猜你喜欢瀑布流*/
#content #may_love{
	width: 100%;
	margin-top: 30px;
}
#content #may_love p{
	width: 100%;
	height: auto;
	text-align: center;
	font-size: 18px;
    line-height: 20px;
    font-family: 'Microsoft YaHei',SimSun,sans-serif;
}
#content #may_love ul{
	margin-top: 24px;
}
#content #may_love ul li {
	width: 235px;
	height: 319px;
	float: left;
	list-style: none;
	margin-right: 8px;
	margin-bottom: 14px;
	background-color: #fff;
	border: 1px solid #F5F5F5;
}
#content #may_love ul li:hover{
	border: 1px solid #FF0036;
}
#content #may_love ul li img{
	width: 235px;
	height: 232px;
}
#content #may_love ul li img:hover{
    opacity: 0.7;
	filter:alpha(opacity=70);
}
#content #may_love ul li p{
	font-size: 13px;
    line-height: 18px;
    color: #666;
}
#content #may_love ul li span{
	line-height: 32px;
    color: #ff0036;
    margin-left: 20px;
}
#content #may_love  .end {
	clear: both;
	width: 1230px;
	text-align: center;
}
/*猜你喜欢瀑布流结束*/





/*底部*/
#bottom{
	width: 100%;
	min-width: 990px;
	/*height:900px;*/
	background-color: #fff;
	padding-bottom: 20px;
}
#bottom .img_help{
	width: 100%;
	height: 150px;
	margin-left: 50px;
	padding-top: 25px;
	border-bottom: 1px solid #EDEDED;
}
#bottom .text_help{
	width: 100%;
	height: 250px;
}
#bottom .text_help ul{
	width: 95px;
	display: inline;
	float: left;
	margin-left: 130px;
	margin-top: 28px;
}
#bottom .text_help ul li{
	font-size: 12px;
	list-style: none;
    text-align: left;
    height: 20px;
    line-height: 20px;
    color: #8b8b8b;
}
#bottom .text_help ul li.first{
	font-size: 14px;
	color: #646464;
    font-size: 16px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    text-align: left;
}
#bottom #other{
	height: 240px;
	border-top: 2px solid #ff0036;
	background-color: black;
}
#bottom #other ul{
	width: 100%;
	/*height: 30px;*/
	display: inline-block;
	float: left;
	margin-left: 55px;
}
#bottom #other ul li{
	display: inline;
	float: left;
	list-style: none;
	margin:12px 3px;
	font-size: 10px;
	color: #fff;	
}
#bottom #other ul.txt_last li{
	display: inline;
	margin-right: 120px;
}
#bottom #other ul li a{
	color: #ffffff;
	text-decoration: none;
}	
#bottom .banquan{
	clear: both;
}
#bottom .banquan span{
	display: block;
    color: #686868;
    font-weight: 400;
    margin-left: 60px;
}
#bottom .banquan img{
	display: inline;
	float: left;
	margin-left: 60px;
	margin-top: 10px;
}
/*底部结束*/


/*右侧导航条*/
#right_nav{
	width: 35px;
	height: 100%;
	position: fixed;
	background-color: #000;
	top: 0;
	right: 0;
	z-index: 999;
	
	_position:absolute;
	_bottom:auto;
	_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
}
#right_nav ul{
	margin-top: 105px;
}
#right_nav ul li{
	margin-bottom: 5px;
	float: left;
}
#right_nav ul li a{
	display: block;
}
#right_nav ul li a img{
	border: none;
	background-color: #000000;
}
#right_nav ul li:nth-child(2){
	border: 1px solid #444444;
	padding: 10px 0;
}
#right_nav ul li:nth-child(8){
	margin-top: 70px;
}
#right_nav ul li p{
	display: block;
	width: 25px;
	height: auto;
	margin: 0 5px;
	padding: 10px 10px;
	color: #fff;
	text-align: center;
	font-size: 13px;
    line-height: 16px;
    overflow: hidden;
    padding: 0;
}
/*右侧导航条结束*/
